sidemenu {
  div {
    background: #00aaff;
    height: 100%;
    left: 0;
    position: relative;
    width: 100%;
    transition: left .5s ease-in-out;
  }

  div.open {
    left: 90%;
  }

  button {
    border: 2px solid #FFF;
    border-radius: 4px;
  }
}